body {
    background-color: aquamarine;
}
.container {
    background-color: whitesmoke;
    border-radius: 10px;
    border: 2px solid black;
}
.grid-form {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
.grid-form form > div:first-child > label {
    margin-top: 0;
}
.grid-form label {
    font-weight: bold;
    margin-top: 10px;
}
.grid-form form > div:last-child {
    text-align: center;
}
.btn-enviar {
    margin-top: 20px;
}
.centraliza {
    display: flex;
    align-items: center;
    height: 100vh;
}
.grid-form table {
    text-align: center;
    line-height: 1;
}
#sucesso, #erro, #editado {
    position: absolute;
    width: 100%;
    display: none;
}
.grid-form table button {
    padding: 0;
}
@media (min-width: 300px) and (max-width: 767px) {
    .grid-form {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        font-size: 13px;
    }
}